<!DOCTYPE html>
<html>

<br>
<br>




<br>
<br>

<A HREF="http://www.minedminds.org"><center><IMG SRC="mm.png" ALT="Mined Minds"WIDTH=250 HEIGHT=200 border=4 class ="box"></center></A>
<br>
<br>
<A HREF="https://twitter.com/MinedMinds"><center><IMG SRC="twitter.png" ALT="Twitter"></center></A>
<br>
<br>
<A HREF="https://www.facebook.com/MinedMinds"><center><IMG SRC="facebook.jpg" ALT="Facebook" WIDTH=250 HEIGHT=200 border=4 class ="box"></center></A>






<body  text="navy">

<marquee><b><font face="consolas" size="8">To learn more about Mined Minds - Click the icons above!!</font></b></marquee>

</body>
</HTML>




