<!DOCTYPE html>
<html>

<br>
<br>




<br>
<br>
<A HREF="/tictactoe"><center><IMG SRC="board.png" ALT="Play Game" class ="box"></center></A>




<body  text="navy">

<marquee><b><font face="consolas" size="8">What are you waiting for ? Click the icon above, and let's play!</font></b></marquee>

</body>
</HTML>



