<!DOCTYPE html>
<html>


<br>
<br>







<br>
<br>
<A HREF="https://en.wikipedia.org/wiki/Tic-tac-toe"><center><IMG SRC="rules2.png" ALT="Rules" class ="box"></center></A>




<body  text="navy">

<marquee><b><font face="consolas" size="8">Click the icon above to learn more about how to play !</font></b></marquee>

</body>
</HTML>



